:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --color01: #eb4559;
  --color02: #f78259;
  --color03: #aeefec;
  --color04: #f8eeee;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  background-image: url("https://i.pinimg.com/originals/ac/77/e0/ac77e0d3ae3f780b02f2ddc4ee6038dd.jpg");
  background-position: center;
  background-size: cover;
  /* background-color: var(--bg-primary); */
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #de1691;
  text-decoration: none;
  filter: grayscale(20%);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  box-shadow: 0 0 15px #ff7eee;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #de1691;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
  background-color: var(--bg-secondary);
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  transition: transform var(--transition-speed);
}

.header {
  background-color: var(--color01);
  height: 25vh;
}

.title-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  background-color: var(--color04);
  margin-bottom: auto;
  display: flex;
  width: 90%;
  height: 100%;
}

.content {
  width: 60%;
  padding: 1rem;
  text-align: justify;
}

.page-nav {
  width: 40%;
  padding: 1rem;
}

.main-title {
  margin-top: auto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  font-size: 3rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.subtitle {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.2ch;
  width: 100%;
  margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar::after {
    content: "";
    background: url("https://i.pinimg.com/originals/ac/77/e0/ac77e0d3ae3f780b02f2ddc4ee6038dd.jpg");
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item {
    background-color: transparent;
  }

  .fa-secondary {
    color: #de1691;
  }

  .main-content {
    display: block;
    width: 100%;
  }

  .content {
    width: auto;
  }

  .page-nav {
    display: none;
  }

  .footer {
    display: none;
  }

  main {
    margin-left: 0;
    height: calc(100vh - 5rem);
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}
